* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 15px;
    background-color: cornsilk;
}

h1,
p {
    margin: auto;
    text-align: center;
    width: 50%;
}

.container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100vh;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3 - 20px);
}